<%# /Users/admin/projects/ninjava_script/app/views/main/_learner.html.erb %>
<div class="top-spacing text-center">
  <h1><%= user.nickname %>さん、ようこそNinjavaScriptへ！</h1>
  <p>今日も日本語学習を頑張りましょう！</p>
  <% if user.mentor.present? %>
    <p><%= user.nickname %>さんのメンターは<%= user.mentor.nickname %>さんです</p>
  <% else %>
    <p><%= user.nickname %>さんのメンターはまだいません。登録をおねがいします。</p>
  <% end %>
</div>

<ul>
  <li>
    <%= link_to '単語登録 -Add Word -', new_user_word_path(user) %>
    <span class="language">たんごとうろく</span>
  </li>
  <li>
    <%= link_to "#{user.nickname}さんの単語帳 -Your Wordbook-", user_words_path(user) %>
    <span class="language"><%= "#{user.nickname}さんのたんごちょう" %></span>
  </li>
    <% if user.words.count >= 4 %>  <!-- 単語が4つ以上存在する場合のみ表示 -->
    <% word = user.words.sample %> <!-- ランダムで一つの単語を選ぶ -->
    <li>
      <%# 
        ここでは、`link_to` を `button_to` に変更しました。理由は、`link_to` を使用した場合、
        ユーザーがリンクにカーソルを合わせただけでリクエストが発生し、
        クイズのカウントが不本意に増加してしまう問題があったためです。
        `button_to` を使用することで、ユーザーがボタンをクリックしたときのみリクエストが発生し、
        クイズが正しく開始されるようにしました。
      %>
      <%= button_to '単語テスト -Word Quiz-', user_word_quizzes_path(user, word.id), method: :get, class: "quiz-link" %>
      <span class="language">たんごてすと</span>
    </li>
  <% else %> <!-- 単語が存在しない場合 -->
    <li>
      <p>テストを開始するには、まず単語を登録してください。</p>
    </li>
  <% end %>
  <li>
    <%= link_to '日報作成 -Create Report-', new_user_report_path(user) %>
    <span class="language">にっぽうさくせい</span>
  </li>
  <li>
    <%= link_to '日報一覧 -Reports List-', user_reports_path(user) %>
    <span class="language">にっぽういちらん</span>
  </li>
<% unless user.mentor.present? %><!-- メンターが存在しない場合のみ表示 -->
    <li>
      <%= link_to 'メンター登録 -Mentor Registration-', mentor_registration_path %>
      <span class="language">めんたーとうろく</span>
    </li>
<% end %>
</ul>
