<div class="quiz-container">
  <h2 class="quiz-title"><%= "#{@user.nickname}さんの単語テスト" %></h2>
  <p class="quiz-status">10回中<%= session[:quiz_count] %>回目のクイズです。</p>


  <p class="quiz-question">この単語の意味は何ですか？</p>
  <h3 class="quiz-word"><%= @word.word %></h3> <!-- 単語を表示 -->

  <ul class="quiz-options">
    <% @options.each do |option| %>
      <li>
        <%= link_to option, user_word_quiz_path(@user, @word, @quiz, answer: option), class: "quiz-button", data: { answer: option, correct: @quiz.correct_answer } %>
      </li>
    <% end %>
  </ul>
  <div class="actions">
  <%= link_to '次のクイズ', user_word_quizzes_path(@user, @word) %> | 
  <%= link_to 'ホームへ戻る', root_path %> |
  <%= link_to '途中でやめる', reset_session_path(@user), data: { turbo_method: :delete }, class: "btn btn-warning" %>
  </div>
</div>
