<%# /Users/admin/projects/ninjava_script/app/views/quizzes/show.html.erb %>
<div class="quiz-container">
  <div class="quiz-result-container">
    <h2>クイズ結果</h2>
    <% if @selected_word != @correct_word %>
      <p>あなたの答え: <%= @selected_word %></p>
    <% end %>
    
    <p>答え: <%= @quiz.correct_answer %></p>
    <p>意味: <%= @quiz.word.word %></p>
    <p>例文: <%= @quiz.word.example %></p>

    <div class="actions">
      <%= button_to '次のクイズ', user_word_quizzes_path(@user, @word), method: :get, class: "quiz-link" %>
      <%= link_to 'ホームへ戻る', root_path %> |
      <%= link_to '途中でやめる', reset_session_path(@user), data: { turbo_method: :delete }, class: "btn btn-warning" %>
    </div>
  </div>
</div>