<div class="form-container">

  <h1>単語編集</h1>

  <%= render 'shared/error_messages', model: @word %>

  <%= form_with model: [@user, @word], local: true do |form| %>
    <div class="field">
      <%= form.label :word, "単語" %>
      <%= form.text_field :word, placeholder: "例: 犬", class: "wide-input" %>
    </div>

    <div class="field">
      <%= form.label :meaning, "意味" %>
      <%= form.text_field :meaning, placeholder: "例: dog", class: "wide-input" %>
    </div>

    <div class="field">
    <%= form.label :hiragana, "意味(ひらがな)" %><br />
    <%= form.text_field :hiragana, placeholder: "例: いぬ", class: "wide-input" %>
    </div>


    <div class="field">
      <%= form.label :example, "例文" %>
      <%= form.text_area :example, placeholder: "例:その犬はふわふわで可愛いです", class: "example-textarea" %>
    </div>

    <div class="actions">
      <%= form.submit "更新" %>
    </div>
  <% end %>

  <%= link_to '戻る', user_word_path(@user, @word) %>

</div>
