<div class="word-detail">

  <h1><%="#{@user.nickname}さんの単語一覧"%></h1>

  <div class="search-bar">
    <%= form_with(url: search_user_words_path(@user), method: :get, local: true, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "単語を検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
    <% end %>

    <!-- 新しい単語を追加するリンクを検索バーの右隣に配置 -->
    <%= link_to '単語を追加する', new_user_word_path(@user), class: 'add-word-link' %>
  </div>
  <table>
    <thead>
      <tr>
        <th>番号</th>
        <th>単語</th>
        <th>意味</th>
        <th>意味（ひらがな）</th> 
        <th>例文</th>
      </tr>
    </thead>
    <tbody>
      <% @words.each_with_index do |word, index| %>
        <!-- 行に data-url 属性を追加 -->
        <tr data-url="<%= user_word_path(@user, word) %>">
          <td><%= link_to (index + 1), user_word_path(@user, word) %></td> <!-- 番号を表示 -->
          <td><%= link_to word.word, user_word_path(@user, word) %></td>
          <td><%= link_to word.meaning, user_word_path(@user,word) %></td>
          <td><%= link_to word.hiragana.present? ? word.hiragana : "", user_word_path(@user, word) %></td> <!-- ひらがな情報がない場合は空欄を表示 -->
          <td><%= link_to word.example, user_word_path(@user, word) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <!-- ページネーション -->
    <%= paginate @words %>
  </div>

  <div class="back-link">
    <%= link_to '戻る', root_path %>
  </div>
</div>
