<div class="word-detail">

  <h1><%="#{@user.nickname}さんの単語一覧"%></h1>

  <table>
    <thead>
      <tr>
        <th>番号</th>
        <th>単語</th>
        <th>意味</th>
        <th>意味（ひらがな）</th> 
        <th>例文</th>
      </tr>
    </thead>
    <tbody>
      <% @words.each_with_index do |word, index| %>
        <%# TODO: 後でJavaScriptを使用して、行全体をクリック可能にする %>
        <tr>
          <td><%= link_to (index + 1), user_word_path(@user, word) %></td> <!-- 番号を表示 -->
          <td><%= link_to word.word, user_word_path(@user, word) %></td>
          <td><%= link_to word.meaning, user_word_path(@user,word) %></td>
          <td><%= link_to word.hiragana.present? ? word.hiragana : "", user_word_path(@user, word) %></td> <!-- ひらがな情報がない場合は空欄を表示 -->
          <td><%= link_to word.example, user_word_path(@user, word) %></td>
        </tr>

      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= link_to '戻る', root_path %>
  </div>
</div>