<h1>単語登録</h1>

<%= form_with model: [@user, @word], local: true do |form| %>
  <div class="field">
    <%= form.label :word, "単語" %>
    <%= form.text_field :word %>
  </div>

  <div class="field">
    <%= form.label :meaning, "意味" %>
    <%= form.text_field :meaning %>
  </div>

  <div class="field">
    <%= form.label :example, "例文" %>
    <%= form.text_area :example %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>

<%= link_to '戻る', root_path %>
