<!-- app/views/reports/edit.html.erb -->
<div class="report-form-container">
  <h2>フィードバックを編集する</h2>

  <%= render 'shared/error_messages', model: @report %>

  <%= form_with model: @report, url: user_report_path(current_user, @report), method: :patch, local: true do |form| %>
    <div class="form-group">
      <%= form.label :feedback, "フィードバック" %>
      <%= form.text_area :feedback, placeholder: "メンターからのフィードバックを編集してください", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.submit "フィードバックを更新", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
