<%# app/views/reports/index.html.erb %>
<div class="report-index-container">
  <h2>日報一覧</h2>
  <% if @reports.any? %>  <!-- @reports が存在する場合のみ表示 -->
    <% @reports.each do |report| %>
      <div class="report-card">
        <div class="report-header">
          <h3>学習日報: <%= report.created_at.strftime('%Y-%m-%d') %></h3>
          <p>合計学習時間: <strong><%= report.total_study_time %>時間</strong></p>
        </div>
        <div class="report-actions">
          <%= link_to '詳細を見る', user_report_path(current_user, report), class: 'btn btn-info' %>

          <% if current_user.role == 0 %>
          <%= link_to '削除', user_report_path(current_user, report), data: { turbo_method: :delete }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="pagination">
      <!-- ページネーション -->
      <%= paginate @reports %>
    </div>
  <% else %> <!-- 日報が存在しない場合のメッセージ -->
    <p>日報がまだありません。</p>
  <% end %>

  <div class="back-link">
    <%= link_to '戻る', root_path %>
  </div>
</div>
