<!-- app/views/reports/show.html.erb -->
<div class="report-detail-container">
  <h1>日報詳細</h1>
  
  <%= render 'shared/error_messages', model: @report %>

  <div class="report-detail">
    <p><strong>学習日報:</strong> <%= @report.created_at.strftime('%Y-%m-%d') %></p>
    <p><strong>合計学習時間:</strong> <%= @report.total_study_time %> 時間</p>
    <p><strong>うまくいったこと:</strong> <%= @report.good_points %></p>
    <p><strong>改善点:</strong> <%= @report.improvement_points %></p>
    <p><strong>改善するためのアイデア:</strong> <%= @report.next_steps %></p>
    <p><strong>次回の学習計画:</strong> <%= @report.next_study_day %></p>
      <% if @report.comment.present? %>
        <p><strong>メンターへのコメントや質問:</strong> <%= @report.comment %></p>
      <% end %>

    <% if @report.feedback.present? %>
      <div class="feedback-display">
        <h3 class="feedback-header">メンターからのフィードバック</h3>
        <p class="feedback-content"><%= @report.feedback %></p>
          <% if current_user.role == 1 %>
          <%= link_to 'フィードバックを編集', edit_user_report_path(current_user, @report), class: 'btn btn-primary' %>
          <%= link_to 'フィードバックを削除', user_report_path(current_user, @report), data: { turbo_method: :delete }, class: 'btn btn-danger mt-2' %>
          <% end %>
          
      </div>
    <% elsif current_user.role == 1 %>
      <div class="feedback-form">
        <%= form_with model: @report, url: user_report_path(current_user, @report), method: :patch, local: true do |form| %>
          <div class="form-group">
            <%= form.label :feedback, "フィードバック" %>
            <%= form.text_area :feedback, placeholder: "フィードバックを入力してください", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.submit "フィードバックを送信", class: "btn btn-success" %>
          </div>
          <% end %>
      </div>
    <% end %>
  </div>

  <% if current_user.role == 0 %><!-- 学習者用アクション -->
    <div class="report-actions">
      <%= link_to '削除', user_report_path(current_user, @report), data: { turbo_method: :delete }, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
