<!DOCTYPE html>
<html>
  <head>
    <title>NinjavaScript</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%# NinjavaScriptのタイトルロゴ %>
    <div class="header">
      <%= link_to root_path do %>
      <div class="logo_container">
        <img id="dog_logo" src="<%= asset_path('logo.png') %>" alt="NinjavaScript mascot" />
        <h1 class="logo">NinjavaScript</h1>
      </div>
      <% end %>
      <% if user_signed_in? %>
        <%= "#{current_user.nickname}さん" %>
        <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "logout-link" %>
      <% end %>
    </div>

    <div class="content">

      <%# flashメッセージの表示部分 %>
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>"><%= message %></div>
    <% end %>

    <%= yield %>
    </div>
     <%# 正解・不正解時のモーダル加 %>
    <div id="quiz-modal" class="quiz-modal">
      <div class="quiz-modal-content">
        <span id="quiz-modal-message"></span>
      </div>
    </div>
    
    <%# フッター %>
    <footer>
      <p>&copy; 2024 NinjavaScript by Rika Maeda</p>
    </footer>

  </body>
</html>
