<!DOCTYPE html>
<html>
  <head>
    <title>NinjavaScript</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%# NinjavaScriptのタイトルロゴ %>
    <div class="header">
      <%= link_to root_path do %>
      <div class="logo_container">
        <img id="dog_logo" src="<%= asset_path('logo.png') %>" alt="NinjavaScript mascot" />
        <h1 class="logo">NinjavaScript</h1>
      </div>
      <% end %>
      <% if user_signed_in? %>
        <%= "#{current_user.nickname}さん" %>
        <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "logout-link" %>
      <% end %>
    </div>

    <%= yield %>


  </body>
</html>
